* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
}

section {
    width: 100vw;
    height: 100vh;

    background-image: url(../img/bg-pattern.png);

    display: flex;
    justify-content: center;
    align-items: center;
}


.card {    
    padding: 2rem;
    border-radius: 10px;
    background-color: #fff;
    transition: box-shadow 0.3s;

    box-shadow: 10px 10px 25px 0px rgb(158, 142, 158);
}

.card:hover {
    box-shadow: 0px 0px 25px 0px rgb(158, 142, 158);
}

.img-container {
    text-align: center;
}

.img-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #ccc;
}

h3 {
    margin: 2rem 0;
    font-size: 1.5rem;
}

label {
    display: block;
    margin-bottom: 4px;
}

.input-field {
    margin-bottom: 1.5rem;
}

.input-field:last-child {
    margin-bottom: 0;
}

input {
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 18px;

    outline: none;
    border: 1px solid #aaa;
}

button {
    padding: .5rem 1rem;
    background-color: blueviolet;
    color: #fff;
    font-size: 18px;
    display: block;
    width: 100%;
    border-radius: 100px;
    border: 1px solid #aaa;
    margin: 2rem auto 0;

}