/* :first-child {
    background-color: #f00;
} */

/* :last-child {
    background-color: #ff0;
} */

/* html:first-child {
    background-color: blue;
} */

/* html:last-child {
    background-color: lime;
} */

/* h1:last-child {
    background-color: gold;
} */

/* h1:first-child {
    background-color: gold;
} */

/* p:first-child {
    color: red;
} */

/* p:last-child {
    color: red;
} */

/* p:only-child {
    color: red;
} */

/* h1:only-child {
    color: red;
} */

/* h2:only-child {
    color: red;
} */

/* :only-child {
    background-color: gold;
} */


/* body:nth-child(2) {
    background-color: red;
} */

/* p:nth-child(4) {
    color: red;
} */

/* p:nth-child(odd) {
    color: red;
} */

/* p:nth-child(even) {
    color: red;
} */

/* p:nth-last-child(odd) {
    color: red;
} */



/* p:first-of-type {
    background-color: gold;
} */


/* .bold:first-of-type {
    background-color: gold;
} */

/* p:first-of-type {
    background-color: gold;
} */

/* p:last-of-type {
    background-color: gold;
} */

/* p:only-of-type {
    background-color: gold;
} */

/* h3:only-of-type {
    background-color: gold;
} */

/* p:nth-of-type(3) {
    background-color: gold;
} */

/* p:nth-last-of-type(3) {
    background-color: gold;
} */



/* 
    * Algebric Pattern for structural pseudo class function
    * nth-child(), nth-last-child() and nth-of-type(), nth-last-of-type()
*/

/* 
    * An
    * A -- index (1)
    * n -- iteration count (0)

    A * n
    1 * 0 = 0 (No match found)
    1 * 1 = 1 (Match found)
    1 * 2 = 2 (Match found)
    1 * 3 = 3 (Match found)
    1 * 4 = 4 (Match found)


    2n
    2 * n
    2 * 0 = 0 (No match found)
    2 * 1 = 2 (Match found)
    2 * 2 = 4 (Match found)
    2 * 3 = 6 (Match found)

    2n + 4

    2 * n + B

    2 * 0 + 4 = 4 (Match found)
    2 * 1 + 4 = 6 (Match found)
    2 * 2 + 4 = 8 (Match found)

    2n - 4

    2 * n - B

    2 * 0 - 4 = -4 (No match found)
    2 * 1 - 4 = -2 (No match found)
    2 * 2 - 4 = 0 (No match found)
    2 * 3 - 4 = 2 (Match found)
    2 * 4 - 4 = 4 (Match found)

    -2n - 4

    -2 * n - B

    -2 * 0 - 4 = -4 (No match found)
    -2 * 1 - 4 = -6 (No match found)
    -2 * 2 - 4 = -8 (No match found)
*/


/* p:nth-child(-2n - 4) {
    color: red;
} */


/* table {
    border-collapse: collapse;
}

td {
    padding: .5rem;
}

tr:nth-child(odd) {
    background-color: gold;
}

tr:nth-child(even) {
    background-color: goldenrod;
} */